# Compiler files
cache/
out/
.build/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env*
!.env.template

# node
node_modules
package-lock.json
yarn-error.log
lcov.info

.vscode

# Foundry
remappings.txt
broadcast/

# Python
.python-version
.pytest_cache/
__pycache__
